@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    ViewBag.Title = "Truy cập bị từ chối";
}
<h2>Truy cập bị từ chối</h2>
<p>Bạn không có quyền truy cập vào trang này.</p>
<a href="/">Quay lại trang chủ</a>
